<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>
      <main class="w-full h-full">
        <section class="columns-6 px-5 gap-4">
          <% images.forEach(function(image){ %>
            <div class="card card-compact mb-5 bg-base-100 shadow-xl">
              <a href="/image/<%= image._id %>" class="rounded-xl overflow-hidden">
                <img src="<%= image.path %>" alt="<%=image.title %>"/>
              </a>
            </div>
          <% }); %>
        </section>
      </main>
  </body>

  </html>