<%- include("partials/head.ejs") %>
<% const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]; %>
  <body>
    <%- include("partials/navbar.ejs") %>
      <main class="w-full h-full">
          <% Object.keys(groupedImages).forEach(year => { %>
          <div class="divider"><%= year %></div>

            <% Object.keys(groupedImages[year]).forEach(month => { %>
              <div class="divider"><%= monthNames[month - 1]  %></div>
              <section class="columns-2 md:columns-6 px-5 mb-5 gap-4">
                <% groupedImages[year][month].forEach(image => { %>
                  <div class="card bg-white shadow-md rounded-lg overflow-hidden mb-4">
                    <a href="/image/<%= image._id %>">
                      <img src="<%= image.path %>" alt="<%= image.title %>" loading="lazy" class="w-full h-auto"/>
                    </a>
                  </div>
                <% }); %>
              </section>

            <% }); %>
          <% }); %>
      </main>
  </body>

  </html>