<%- include("partials/head.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>

            <div class="min-h-screen w-full grid grid-cols-6">

                <div class="col-span-6 md:col-span-3 order-2 md:order-1  flex justify-center items-center">
                    <% if (type==="convert" ) {%>
                        <%- include("partials/formConvert.ejs") %>
                            <% } else if(type==="rezise" ) {%>
                                <%- include("partials/formRezise.ejs") %>
                                    <% } %>
                </div>

                <div class="col-span-6 md:col-span-3  order-1 md:order-2  ">
                    <div class="flex justify-center w-[calc(33.33% - 30px)] h-screen">
                        <img src="/api/image/<%= image.filename %>" alt="images.title" class="" />
                    </div>
                </div>

            </div>
            <% if (type==="convert" ) {%>
                <script src="/js/formConvert.js"></script>
                <% } else if(type==="rezise" ) {%>
                    <script src="/js/formRezise.js"></script>
                    <% } %>

    </body>

    </html>