<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>

      <section class="h-full w-full">
        <div class="px-5 pt-2">
          <table class="table w-full">
            <thead>
              <tr>
                <th>
                  image
                </th>
                <th>
                  title
                </th>
                <th>
                  description
                </th>
                <th>
                  filename
                </th>
                <!--th>
                  path
                </th-->
                <th>
                  Rezise
                </th>
              </tr>
            </thead>
            <tbody>
              <% images.forEach(function(image){ %>
                <tr class="hover">
                  <td>
                    <div class="avatar">
                      <div class="mask mask-squircle w-14 h-14">
                        <img src="<%= image.path %>" alt=" <%= image.title %>" />
                      </div>
                    </div>
                  </td>

                  <td class="truncate whitespace-nowrap">
                    <%= image.title %>
                  </td>

                  <td class=" truncate whitespace-nowrap">
                    <%= image.description %>
                  </td>

                  <td class="whitespace-nowrap truncate">
                    <%= image.filename %>
                  </td>

                  <!--td class="whitespace-nowrap truncate">
                    <%= image.path %>
                  </td-->
                  <td class="truncate whitespace-nowrap">
                    <a href="/image/<%= image._id%>/rezise" class="btn-link">Rezise</a>
                  </td>
                </tr>

                <% }); %>
            </tbody>
          </table>
        </div>
      </section>
  </body>

  </html>