<%- include("partials/head.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>

      <section class="">
        <div class="px-5 pt-2 max-w-screen overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th>
                  image
                </th>
                <th class="w-10">
                  title
                </th>
                <th>
                  description
                </th>
                <th>
                  filename
                </th>
                <th>
                  Rezise
                </th>
              </tr>
            </thead>
            <tbody>
              <% images.forEach(function(image){ %>
                <tr class="hover">
                  <td>
                    <div class="avatar">
                      <div class="mask mask-squircle w-14 h-14">
                        <img src="/api/image/<%= image.filename %>" alt=" <%= image.title %>" />
                      </div>
                    </div>
                  </td>

                  <td class="  whitespace-nowrap">
                    <p class=" leading-10 truncate"><%= image.title %></p>
                  </td>

                  <td class=" truncate whitespace-nowrap">
                    <%= image.description %>
                  </td>

                  <td class="whitespace-nowrap leading-10 truncate">
                    <%= image.filename %>
                  </td>
                  <td class="truncate whitespace-nowrap">
                    <a href="/image/<%= image._id%>/rezise" class="btn-link">Rezise</a>
                  </td>
                </tr>

                <% }); %>
            </tbody>
          </table>
        </div>
      </section>
  </body>

  </html>